---
short-name:
count: true
environment: production
---
@using System
@using RazorLight
@inherits TemplatePage<Xarial.Docify.Base.Context.IContextModel>
@{
    var env = Model.Data.Get<string>("environment");

    var shortName = Model.Data.Get<string>("short-name");
    var src = $"https://{shortName}.disqus.com/embed.js";
    var countSrc = $"//{shortName}.disqus.com/count.js";
    var hasSitemap = !Model.Page.Data.ContainsKey("sitemap") || Model.Page.Data.Get<bool>("sitemap");
    var hasComments = !Model.Page.Data.ContainsKey("comments") || Model.Page.Data.Get<bool>("comments");
    var enable = (env == "-" || string.Equals(Model.Site.Configuration.Environment, env, StringComparison.CurrentCultureIgnoreCase)) && !string.IsNullOrEmpty(shortName) && hasSitemap && hasComments;
}
@if (enable)
{
    <div id="disqus_thread"></div>
    <script>
var disqus_config = function () {
this.page.url = '@Model.Page.FullUrl';
this.page.identifier = '@Model.Page.FullUrl';
};

(function() {
var d = document, s = d.createElement('script');
s.src = '@src';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    @if (Model.Data.Get<bool>("count"))
    {
        <script id="dsq-count-scr" src="@countSrc" async></script>
    }
}