<div class="header">
    <div class="header-icon"><a href="/"><img src="/_assets/images/docify-icon.svg" height="30px" alt="Docify"/></a></div>
    <div class="header-menu" style="justify-self: end">{% nav %}</div>
</div>
<div style="width: 200px;margin-left:auto; margin-right:0;">
{% tipue-search %}
</div>