---
layout: master
---
@using RazorLight
@inherits TemplatePage<Xarial.Docify.Core.Compiler.Context.ContextModel>

<div class="layout">
    <div class="toc">
        {% toc %}
    </div>

    <article class="post">
        <header>
            <h1 class="page-title">@Xarial.Docify.Lib.Tools.PageHelper.GetTitle(Model.Page, Model.Site.Configuration)</h1>
            {% social-share %}
        </header>

        <div>
            {{ content }}
        </div>
    </article>
</div>