---
short-name:
count: true
---
@using RazorLight
@inherits TemplatePage<Xarial.Docify.Core.Compiler.Context.IncludeContextModel>
@{
}
<form action="/search/">
    <div class="tipue_search_group">
        <input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required>
        <button type="submit" class="tipue_search_button">
            <div class="tipue_search_icon">&#9906;</div>
        </button>
    </div>
</form>