---
short-name:
count: true
---
@using RazorLight
@inherits TemplatePage<Xarial.Docify.Base.Context.IIncludeContextModel>
@{
}
<form action="/search/">
    <div class="tipue_search_group">
        <input type="image" src="/assets/images/search.svg" class="tipue_search_button" width="25px" border="0" alt="Submit" />
        <div style="overflow: hidden;padding-right: .5em;">
            <input type="text" name="q" id="tipue_search_input" placeholder="Search" pattern=".{3,}" title="At least 3 characters" required>
        </div>
    </div>
</form>