---
name_attribute: title
home_menu: true
menu:
---
@using RazorLight
@using System
@using System.Linq
@using System.Collections.Generic
@using Xarial.Docify.Core.Compiler.Context
@inherits TemplatePage<Xarial.Docify.Core.Compiler.Context.IncludeContextModel>
@functions{
    public class MenuPage : IContextPage
    {
        public string Url { get; set; } = "";
        public string FullUrl { get; set; }
        public string Name { get; }
        public ContextMetadata Data { get; }
        public IReadOnlyList<IContextPage> SubPages => SubPagesList;
        public List<MenuPage> SubPagesList { get; }

        public MenuPage(IContextPage page) : this(page.Name, page.Data)
        {
            FullUrl = page.FullUrl;
            Url = page.Url;
        }

        public MenuPage(string name, ContextMetadata data)
        {
            Name = name;
            SubPagesList = new List<MenuPage>();
            Data = data;
        }
    }
}
@{
    var menu = Model.Data["menu"];

    List<IContextPage> menuPages = null;

    var allPages = GetAllSubPages(Model.Site.MainPage).ToList();

    if (menu != null)
    {
        var menuPagesList = new List<MenuPage>();
        ParsePages(menu, menuPagesList);
        menuPages = menuPagesList.ConvertAll<IContextPage>(p => p);
    }
    else
    {
        menuPages = Model.Site.MainPage.SubPages.ToList();
    }

    if (Model.Data.GetOrDefault<bool>("home_menu") && menu == null) 
    {
        var homeMenu = CreateMenuPage("Home");
        homeMenu.Url = Model.Site.MainPage.Url;
        homeMenu.FullUrl = Model.Site.MainPage.FullUrl;
        menuPages.Insert(0, homeMenu);
    }

    IEnumerable<IContextPage> GetAllSubPages(IContextPage page)
    {
        if (page.SubPages != null)
        {
            foreach (var childPage in page.SubPages)
            {
                yield return childPage;

                foreach (var subChildPage in GetAllSubPages(childPage))
                {
                    yield return subChildPage;
                }
            }
        }
    }

    MenuPage CreateMenuPage(string url)
    {
        var page = allPages.FirstOrDefault(p => string.Equals(p.Url,
            url, StringComparison.CurrentCultureIgnoreCase));

        if (page != null)
        {
            return new MenuPage(page);
        }
        else
        {
            return new MenuPage(url, new ContextMetadata(
                new Dictionary<string, dynamic>()
                { { Model.Data["name_attribute"] , url } }));
        }
    }

    void ParsePages(List<object> menuList, List<MenuPage> menuPagesList)
    {
        foreach (var menuItem in menuList)
        {
            if (menuItem is string)
            {
                menuPagesList.Add(CreateMenuPage((string)menuItem));
            }
            else if (menuItem is Dictionary<object, object>)
            {
                foreach (var parentMenuItem in menuItem as Dictionary<object, object>)
                {
                    var menuPage = CreateMenuPage((string)parentMenuItem.Key);
                    menuPagesList.Add(menuPage);
                    ParsePages(parentMenuItem.Value as List<object>, menuPage.SubPagesList);
                }
            }
            else
            {
                throw new NotSupportedException("Invalid type of menu item");
            }
        }
    }
}
@{
    string GetTitle(IContextPage page) 
    {
        return page.Data.Get<string>(Model.Data["name_attribute"]);
    }

    string RenderMenu(IEnumerable<IContextPage> pages)
    {
        var html = new System.Text.StringBuilder();

        foreach (var menuPage in pages)
        {
            html.AppendLine("<li class=\"menu-item\">");
            html.AppendLine($"<a href=\"{menuPage.Url}\">{GetTitle(menuPage)}</a>");

            if (menuPage.SubPages.Any())
            {
                html.AppendLine("<ul class=\"sub-menu-item-container\">");
                html.AppendLine(@RenderMenu(menuPage.SubPages));
                html.AppendLine("</ul>");
            }
            html.AppendLine("</li>");
        }

        return html.ToString();
    }
}

<ul class="menu sub-menu-item-container" id="top-menu">
    <a class="menu-icon" onclick="OpenMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </a>
    @Raw(RenderMenu(menuPages))
</ul>
