---
project:
repo:
---
@using RazorLight
@inherits TemplatePage<Xarial.Docify.Core.Compiler.Context.IncludeContextModel>
@{
    var repo = Model.Data.Get<string>("repo");
    var project = Model.Data.Get<string>("project");
}
<div id="github-issues">
    Loading issues...
</div>

<p>
    <a href="https://github.com/@project/@repo/issues/new">Submit Issue</a>
</p>

<script>
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            allIssues = JSON.parse(xmlHttp.responseText);
            issuesListHeaderHtml = "<h2>Open Issues (" + allIssues.length + ")</h2>";
            issuesListHtml = "<ul>";
            allIssues.forEach(function(issue) {
                issuesListHtml = issuesListHtml.concat("<li><a href=" + issue.html_url + ">Issue " + issue.number + "</a> - " + issue.title + "</li>");
            });
            issuesListHtml = issuesListHtml.concat("</ul>");
            document.getElementById("github-issues").innerHTML = issuesListHeaderHtml + issuesListHtml;
            }
    }
    xmlHttp.open("GET", "https://api.github.com/repos/@project/@repo/issues?state=open", true);
    xmlHttp.send(null);
</script>