---
layout: master
---
@using RazorLight
@inherits TemplatePage<Xarial.Docify.Core.Compiler.Context.ContextModel>
<div class="layout">
    <div class="side-column">
        <div class="toc">
            {% toc %}
        </div>
    </div>

    <div class="content-column">
        <article class="post">
            <header>
                <h1 class="page-title">@Xarial.Docify.Lib.Tools.PageHelper.GetTitle(Model.Page, Model.Site.Configuration)</h1>
                {% social-share %}
            </header>

            <div>
                {{ content }}
            </div>
        </article>
    </div>

    <div class="side-column">
        <p>Subscribe!</p>
    </div>
        
</div>
