---
layout: default
---
@using RazorLight
@using System
@inherits TemplatePage<Xarial.Docify.Base.Context.IContextModel>
@{
    var postDateStr = Model.Page.Data.GetOrDefault<string>("date");
    var date = DateTime.ParseExact(postDateStr, "yyyy-MM-dd", null);    
}
<article class="post">
    <header>
        <h1 class="page-title">@Xarial.Docify.Lib.Tools.PageHelper.GetTitle(Model.Page, Model.Site.Configuration)</h1>
        <div class="page-date"><span>@date.ToString("dd MMM, yyyy")</span> <a href="@Model.Page.FullUrl#disqus_thread" data-disqus-identifier="@Model.Page.FullUrl"></a></div>
        {% social-share %}
    </header>
    <div>
        {{ content }}
    </div>
    {% disqus %}
</article>
