---
id:
---
@using RazorLight
@using System
@using System.Linq
@using System.Collections.Generic
@using Xarial.Docify.Core.Compiler.Context
@using Xarial.Docify.Lib.Tools
@inherits TemplatePage<Xarial.Docify.Core.Compiler.Context.IncludeContextModel>
@{
    var id = Model.Data.Get<string>("id");
}
<div class="video-container"><iframe width="560" height="350" src="https://www.youtube.com/embed/@id" frameborder="0" allowfullscreen></iframe></div>

